body {
  margin: 0;
  font-family: 'Consolas','Courier New', Courier,sans-serif;
  font-size: 1.4rem;
  font-weight: 600;
    background: linear-gradient(to left, rgb(11, 140, 166), rgb(191, 1, 184));
}

button {
	cursor: pointer;
}
